Makefile.in
Makefile
autom4te.cache
aclocal.m4
aux-config
configure
.deps
.libs
.dirstamp
*.lo
*.la
*.o
*.pyc
*~
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
config.log
config.status

.idea
conf/call_install_name_tool
docs/build
docs/build/html
model/ucvm/ucvm.e
model/ucvm/ucvm_yong_wald.e
model/ucvm/ucvm_utah.e
test/ref/test-grid-lib-1d.ref
test/ref/test-grid-ucvm_query-1d.ref

conf/ucvm_user.conf